.categorie_home_container {
    max-width: 1360px;
    width: 94.4%;
    margin-left: 40px;
    margin-bottom: 80px;
}

.categorie_div {
    max-width: 316px;
    width: 100%;
    height: 392px;
}

.categories_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 32px;
}

.img {
    max-width: 316px;
    width: 100%;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
    object-position: 100%;
}
.p {
    text-align: center;
    margin-top: 16px;
    font-size: 20px;
    font-weight: 500;
    color: rgba(40, 40, 40, 1);
}

.spanCategories {
    display: flex;
}

.hr {
    flex: 1;
    border: 0;
    border-top: 1px solid rgba(221, 221, 221, 1);
    margin-top: 45px;
    margin-left: 30px;
}

@media (max-width: 1000px) {
    .categorie_home_container {
        margin-left: 2.8%;
        margin-right: 2.8%;
    }
}
@media (max-width: 768px) {
    .categories_container {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

@media (max-width: 500px) {
    .spanCategories {
        justify-content: space-between;
    }
    .hr {
        display: none;
    }
}

@media (max-width: 360px) {
    .categories_container {
        grid-template-columns: 1fr;
        justify-items: center;
    }

}