.discount_info {
    max-width: 1440px;
    width: 100%;
    height: 600px;
    background-image: url("../images/img1-amazingDiscount.jpg");
    padding: 80px 0px 0px 40px;
    margin-bottom: 40px;
    position: relative;
    top: -40px;
}

.info_text_discount {
    font-size: 96px;
    font-weight: 700;
    color:rgba(255, 255, 255, 1);
    margin-bottom: 40px;
    line-height: 105.6px;
    max-width: 1100px;
    width: 100%;
}

@media (max-width: 1000px) {
    .discount_info {
        height: 476px;
        padding: 60px 20px 0px 20px;

    }
    .info_text_discount {
        font-size: 80px;
        line-height: 99px;
    }
}

@media (max-width: 768px) {
    .discount_info {
        height: 634px;
    }
    .info_text_discount {
        font-size: 68px;
        line-height: 75px;
    }
}

@media (max-width: 480px) {
    .info_text_discount {
        font-size: 60px;
        line-height: 66px;
    }
}

@media (max-width: 360px) {
    .Info_text_discount {
        font-size: 52px;
        line-height: 57px;
    }
}
