.filter_container {
    max-width: 908px;
    width: 100%;
    height: 36px;
    margin-bottom: 40px;
    display: flex;
    gap: 40px;
    align-items: center;
}

label {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: rgba(40, 40, 40, 1);
}

.input_range_error {
    background-color: rgba(255, 0, 0, 0.171);
}

.span {
    display: flex;
    gap: 16px;
    align-items: center;
}

.input_range, .input_range_error {
    width: 112px;
    height: 36px;
    border: 1px solid rgba(221, 221, 221, 1);
    border-radius: 10px;
    padding-left: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.input_range::placeholder {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(139, 139, 139, 1);
}

.input_check_box {
    width: 36px;
    height: 36px;
    border: 1px solid rgba(221, 221, 221, 1);
}

.select {
    width: 200px;
    height: 36px;
    border: 1px solid rgba(221, 221, 221, 1);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(40, 40, 40, 1);
    padding-left: 16px;
}


@media (max-width: 900px) {
    .filter_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: auto;
    }
}

@media (max-width: 640px) {
    .filter_container {
        grid-template-columns: 1fr ;
    }
}