.get_discount {
    max-width: 1360px;
    width: 97.1%;
    margin-left: 2.9%;
    background-color: green;
    border-radius: 10px;
    margin-bottom: 80px;
    padding-left: 32px;
    padding-right: 32px;
}

.title {
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding-top: 32px;
}

.get_discount_main {
    display: flex;
    margin-top: 16px;
    max-width: 1360px;
    width: 100%;
}

.img {
    max-width: 1360px;
    width: 56.3%;
    margin-right: 32px;
}

@media (max-width: 480px) {
    .get_discount_main {
        display: grid;
        grid-template-columns: 1fr;
    }
    .img {
        margin-left: 25%;
    }
}