.order_details {
    background: rgba(241, 243, 244, 1);
    max-width: 548px;
    width: 100%;
    margin-right: 40px;
    height: fit-content;
    border-radius: 10px;
    padding: 32px 32px 0px 32px;
}

.title {
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    color: rgba(40, 40, 40, 1);
    margin-bottom: 24px;
}

.info_about_cart {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    color: rgba(139, 139, 139, 1);
}

.total_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 32px;
}

.total_price, .total_price_with_discount {
    font-size: 64px;
    font-weight: 700;
    line-height: 70.5px;
    color: rgba(40, 40, 40, 1);
}

.total_price_with_discount {
    font-size: 58px;
    color: rgba(0, 83, 0, 0.767);
}

.total_price_prev {
    font-size: 18px;
    font-weight: 400;
    color: rgba(40, 40, 40, 1);
    text-decoration: line-through;
}

.total_price_with_discount_wrapper{
    display: flex;
}


@media (max-width: 1200px) {
    .order_details {
        padding: 10px;
        margin-right: 10px;
    }
    
}

@media (max-width: 1140px) {
    .order_details {
        max-width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .total_wrapper {
        gap: 20px;
    }
}

@media (max-width: 786px) {
    .order_details {
        padding: 5px;
        align-items: flex-start;
        max-width: 90vw;
    }
}
@media (max-width: 530px) {
    .total_price_prev {
        font-size: 10px;
    }
    .total_price, .total_price_with_discount {
        font-size: 30px;
    }
    .title {
        font-size: 30px;
    }
    .info_about_cart {
        font-size: 25px;
    }
}
