.product_price_container {
    display: flex;
    gap: 16px;
}

.all_price_container {
    margin-bottom: 32px;
    margin-left: 32px;
    display: flex;
    justify-content: space-between;
}

.price_wrapper{
    display: flex;
    gap: 16px;
}

.product_price {
    font-size: 64px;
    font-weight: 700;
    line-height: 70.5px;
    color: rgba(40, 40, 40, 1);
}

.main_price {
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    color: rgba(40, 40, 40, 1);
}

.discount_product_price {
    font-size: 40px;
    font-weight: 500;
    line-height: 52px;
    color: rgba(139, 139, 139, 1);
    margin-top: 18px;
    text-decoration: line-through;
    margin-left: 16px;
}

.discount_main_price {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color: rgba(139, 139, 139, 1);
    margin-top: 16px;
    text-decoration: line-through;
}

.discount_product_block {
    width: 63px;
    height: 34px;
    background-color: rgba(51, 153, 51, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    padding-top: 4px;
}

.discount_all_block {
    width: 63px;
    height: 34px;
    background-color: rgba(51, 153, 51, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    padding-top: 4px;
    position: relative;
    bottom: 337px;
    right: 15px;
}

@media (max-width: 1000px) {
    .discount_all_block {
        right: 50%;
    }
    .discount_main_price {
        font-size: 10px;
    }
}

@media (max-width: 768px) {
    .discount_all_block {
        right: 50%;
    }
    .main_price {
        font-size: 30px;
    }
}

@media (max-width: 680px) {
    .product_price_container {
        justify-self: center;
    }
    .main_price {
        font-size: 20px;
    }
}

@media (max-width: 360px) {
    .discount_all_block {
        right: 15px;
    }
    .discount_main_price {
        font-size: 20px
    }
}