.productPriceContainer {
    margin-bottom: 32px;
    display: flex;
    gap: 16px;
}

.allPriceConainer {
    margin-bottom: 32px;
    margin-left: 32px;
    display: flex;
    justify-content: space-between;
}

.priceWrapper{
    display: flex;
    gap: 16px;
}

.productPrice {
    font-size: 64px;
    font-weight: 700;
    line-height: 70.5px;
    color: rgba(40, 40, 40, 1);
}

.mainPrice {
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    color: rgba(40, 40, 40, 1);
}

.discountProductPrice {
    font-size: 40px;
    font-weight: 500;
    line-height: 52px;
    color: rgba(139, 139, 139, 1);
    margin-top: 18px;
    text-decoration: line-through;
    margin-left: 16px;
}

.discountMainPrice {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color: rgba(139, 139, 139, 1);
    margin-top: 16px;
    text-decoration: line-through;
}

.discountProductBlock {
    width: 63px;
    height: 34px;
    background-color: rgba(51, 153, 51, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    padding-top: 4px;
}

.discountAllBlock {
    width: 63px;
    height: 34px;
    background-color: rgba(51, 153, 51, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    padding-top: 4px;
    position: relative;
    bottom: 337px;
    right: 15px;
}