.BreadcrumbsBtn {
    height: 36px;
    border: 1px solid rgba(221, 221, 221, 1);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    padding: 8px 16px 8px 16px;
    color:  rgba(139, 139, 139, 1);
}
.BreadcrumbsBtnLast {
    height: 36px;
    border: 1px solid rgba(221, 221, 221, 1);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    padding: 8px 16px 8px 16px;
}

.BreadcrumbsContainer {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    margin-left: 40px;
}

.line {
    display: inline-block;
    width: 16px; 
    height: 1px;
    border: 1px solid rgba(221, 221, 221, 1);
    margin-bottom: 5px;
}
