.emptyCart {
    margin-left: 40px;
    margin-bottom: 80px;
    margin-top: 40px;
    width: 1360px;
    height: 226px;
}
.cartInfo {
    font-size: 20px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    line-height: 26px;
    color: rgba(40, 40, 40, 1);
    margin-bottom: 32px;
}

.spanCart {
    display: flex;
}

.hr {
    flex: 1;
    border: 0;
    border-top: 1px solid rgba(221, 221, 221, 1);
    margin-top: 45px;
    margin-left: 30px;
}