.emptyCart {
    margin-left: 40px;
    margin-top: 40px;
    width: 1360px;
}
.cartInfo {
    font-size: 20px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    line-height: 26px;
    color: rgba(40, 40, 40, 1);
    margin-bottom: 32px;
}


.spanCart {
    display: flex;
}

.hr {
    flex: 1;
    border: 0;
    border-top: 1px solid rgba(221, 221, 221, 1);
    margin-top: 45px;
    margin-left: 30px;
}

.product {
    width: 780px;
    height: 180px;
    border: 1px solid rgba(221, 221, 221, 1);
    border-radius: 10px;
    display: flex;
    margin-bottom: 16px;
    gap: 32px;

}

.imgProduct {
    width: 200px;
    height: 180px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid rgba(221, 221, 221, 1);
    object-fit: cover;
    object-position: 100%;
}


.productWrapper{ 
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
    gap: 32px;
    width: max-content;
    flex: 1;
}

.counterInfo {
    display: flex;
    justify-content: space-between;
}


.price {
    font-size: 40px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    line-height: 44px;
    color: rgba(40, 40, 40, 1);
}

.discontPrice {
    font-size: 20px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    line-height: 26px;
    color: rgba(139, 139, 139, 1);
    margin-top: 16px;
    text-decoration: line-through;
}


.cartWithProducts {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.priceContainer {
    display: flex;
    gap: 32px;
}

.priceAndDiscount {
    display: flex;
    padding-top: 7px;
    gap: 16px;
}



.orderDetails {
    background-color: red;
    width: 548px;
    height: 582px;
    border-radius: 10px;
}

.cartWrapper{
    display: flex;
    gap: 32px;
}

.cross{
    width: 24px;
    height: 24px;
    font-size: 24px;
    text-align: center;
    color: rgba(40, 40, 40, 1);
    cursor: pointer;
}

.productName {
    font-size: 20px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    line-height: 28px;
    color: rgba(40, 40, 40, 1);
}