.footer {
    max-width: 1360px;
    width: 96%;
    margin-left: 40px;
}

.footer_info_container {
    max-width: 1360px;
    width: 100%;
    display: grid;
    grid-template-columns: 1.42fr 1fr;
    gap: 36px;
    margin-bottom: 36px;
}

@media (max-width: 1000px) {
    .footer {
        max-width: 960px;
        width: 96%;
        margin-right: 2%;
        margin-left: 2%;
    }

    .footer_info_container {
        max-width: 960px;
        grid-template-columns: 1fr 1fr; 
        gap: 20px;
    }
}

@media (max-width: 1000px) {
    .footer {
        max-width: 1360px;
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }
}

@media (max-width: 768px) {
    .footer {
        max-width: 728px;
        width: 96%;
    }

    .footer_info_container {
        max-width: 728px;
        grid-template-columns: 3fr 1fr; 
        gap: 20px;
    }
}
@media (max-width: 480px) {
    .footer {
        width: 420px;
        width: 96%;
    }
    .footer_info_container {
        max-width: 440px;
        width: 100%;
        grid-template-columns: 1fr; 
        gap: 12px;
        margin-bottom: 20px;
    }
}
@media (max-width: 360px) {
    .footer {
        width: 320px;
        width: 96%;
    }

    .footer_info_container {
        width: 320px;
        grid-template-columns: 1fr; 
        gap: 12px;
    }
}

