.productContainer {
    width: 1360px;
    height: 574px;
    margin-left: 40px;
    margin-bottom: 80px;
    display: flex;
    gap: 32px;
}

.img {
    width: 780px;
    height: 574px;
    object-fit: cover;
    object-position: 100%;
}

.title {
    font-size: 40px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    line-height: 44px;
    color: rgba(40, 40, 40, 1);
    margin-bottom: 32px;
}

.mainPrice {
    font-size: 64px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    line-height: 70.5px;
    color: rgba(40, 40, 40, 1);
}

.priceContainer {
    margin-bottom: 32px;
    display: flex;
    gap: 16px;
}

.discountPrice {
    font-size: 40px;
    font-weight: 500;
    line-height: 52px;
    font-family: "Montserrat", sans-serif;
    color: rgba(139, 139, 139, 1);
    margin-top: 18px;
    text-decoration: line-through;
    margin-left: 16px;

}

.form {
    display: flex;
    gap: 32px;
    margin-bottom: 32px;
}

.description {
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    line-height: 26px;
    color: rgba(40, 40, 40, 1);
    margin-bottom: 16px;
}

.infoBlock {
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    line-height: 21px;
    color: rgba(40, 40, 40, 1);   
}

.discountBlock {
    width: 63px;
    height: 34px;
    background-color: rgba(51, 153, 51, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    line-height: 26px;
    text-align: center;
    padding-top: 4px;
}