.check_out_button {
    height: 58px;
    color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    background-color: rgba(51, 153, 51, 1);
}

.check_out_button:hover {
    background-color:   black;
}

.check_out_button:active {
    background-color: white;
    color: black;
}


@media (max-width: 786px) {
    .check_out_button {
        width: 100px;
    }
}