.get_discount_btn, .get_discount_btn_active, .order_button {
    max-width: 518px;
    width: 100%;
    height: 58px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 600;
    color: rgba(40, 40, 40, 1);
    margin-top: 16px;
    cursor: pointer;
    margin-bottom: 32px;
}

.get_discount_btn:hover {
    background-color: black;
    color: white;
}

.get_discount_btn_active {
    color: green;
}
.order_button {
    color: white;
    max-width: 484px;
    width: 100%;
    margin-bottom: 32px;
    background-color: rgba(51, 153, 51, 1);
}

.order_button:hover {
    background-color: black;
}

.order_button:active {
    background-color: white;
    color: black;
}