.getDiscountBtn, .getDiscountBtnActive, .orderButton {
    width: 518px;
    height: 58px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 600;
    color: rgba(40, 40, 40, 1);
    margin-top: 16px;
    cursor: pointer;
}

.getDiscountBtn:hover {
    background-color: black;
    color: white;
}

.getDiscountBtnActive {
    color: green;
}
.orderButton {
    color: white;
    width: 484px;
    background-color: rgba(51, 153, 51, 1);
}

.orderButton:hover {
    background-color: black;
}

.orderButton:active {
    background-color: white;
    color: black;
}